body {
    background-color :#999990
     }
 

.BGTop {
        display: flex;
     background-image: url(\img\ui\BG01.jpg);
   
      }
.linkMenu{
        display: flex;
        /* display: block; */
        /* box-sizing: content-box; */
        /* justify-content: flex-end; */
        /* -moz-box-flexgroup: inherit; */
        justify-content: space-evenly;
        /* text-align: right; */
        /* justify-content: left; */
        border: 2px solid rgb(255, 255, 255);
        background-color: black;
        padding: 10px;
        filter: drop-shadow(3px 3px 3px #00000071);
        font-family: monospace;
        font-size: 25px;

  
      }
/* Change hyperlink color */
 a{
        color: lightblue;
      }  
      
 /* ANIMation */
.TitlePageAnim {
        display : flex;
        justify-content: space-around;
        font-size: 65px;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-top: -200mm;
        animation-duration: 3s;
        animation-name: ca_va_ca_vient;
        animation-iteration-count: initial;
        filter: drop-shadow(5px 5px 5px #353535);
        
    }
.aller {
  animation-direction: normal;
}

.retour {
  animation-direction: reverse;
}
@keyframes ca_va_ca_vient {
  from {
    margin-left: 200%;
    width: 400%;
  }

  to {
    justify-content: space-around;
    /* margin-left: 0%;
    width: 0%; */
  }
  
 /* FIN ANIMATION  */
}
h1{
    font-size: 65px;
}
h2{
    font-size: 40px;
}

.Contact {
    filter: drop-shadow(3px 3px 3px #00000071);
    background-color: rgb(231, 7, 7);
    display: block;
    writing-mode: horizontal-tb;
    width: 200px;
    display: flex;
    justify-content: space-evenly;

}
#BarreID {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    background-color: #ccc;
    padding: 10px;
    align-content: space-around;
    /* width: 150px; */
    filter: drop-shadow(3px 3px 3px #00000071);

}

.box {
    display: flex;
    justify-content: space-between;
    background-color: rgb(120, 52, 247);
    border-radius: 10%;
    box-sizing: border-box;
    color: rgb(219, 177, 40);
    size: 50px;
    background-position: top;
    filter: drop-shadow(3px 3px 3px #00000071);
  }

  .BigBox {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }

  .BigBox>* {
    padding: 10px;
    flex: 1 100%;
  }

  .top {
    background: rgb(247, 86, 52);
  }

  .bas {
    background: rgb(120, 52, 247);
  }

  .centre {
    text-align: left;
    background: rgb(70, 139, 240);
  }

  .left {
    background: rgb(237, 159, 50);
  }

  .right {
    background: rgb(224, 58, 191);
  }

  @media all and (min-width: 600px) {
    .left {
      flex: 1 0 0;
    }

    .right {
      flex: 1 0 0;
    }

  }

  @media all and (min-width: 800px) {
    .centre {
      flex: 3 0px;
    }

    .left {
      order: 1;
    }

    .centre {
      order: 2;
    }

    .right {
      order: 3;
    }

    .bas {
      order: 4;
    }
  }

  body {
    padding: 4em;
  }

  #TitlesVideo {
    filter: drop-shadow(3px 3px 3px #00000071);
    background-color: rgb(231, 7, 7);
    display: block;
    writing-mode: horizontal-tb;
    width: 200px;
    display: flex;
    writing-mode: vertical-rl;
    /* justify-content: space-evenly; */
    
  }
  .SousTitleVideos {
    background-color: rgb(47, 194, 104);
    writing-mode: horizontal-tb;

  }
  #TitlesAudio {
    filter: drop-shadow(3px 3px 3px #00000071);
    background-color: rgb(231, 7, 7);
    display: block;
    writing-mode: horizontal-tb;
    width: 200px;
    display: flex;
    writing-mode: vertical-rl;
    /* justify-content: space-evenly; */
    
  }
  .SousTitleAudio {
    background-color: rgb(47, 194, 104);
    writing-mode: horizontal-tb;

  }
  #GroupeA {
      display: flex;
      justify-content: space-between;
    
  }
  .grid-container {
    display: grid;
    display: flex;
    /* justify-content: space-evenly; */
    /* justify-items: stretch; */
    /* justify-content: space-between; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
      "Photos1 Photos2 Photos3 Photos4"
      ". . . ."
      ". . . .";
  }
  
  .Photos1 { grid-area: Photos1; }
  
  .Photos2 { grid-area: Photos2; }
  
  .Photos3 { grid-area: Photos3; }
  
  .Photos4 { grid-area: Photos4; }
  
  body{
      /* background-color: black; */
  }
  img {
      max-width: 100%;
      height: auto;
      width: auto\9; /* ie8 */
  }
  
  
  /* For presentation only, no need to copy the code below */
  .grid-container * {
    /* border: 1px solid red; */
    border: 1px groove red;
    /* border: 10px groove rgb(255, 255, 255); */
    /* position: relative; */
    /* justify-content: space-between; */
  
    test>>>>
    /* padding-inline-end: 5%;
    padding-inline-start: 5%;
    padding-bottom: 50%;
    padding-block-start: 25%; */
  }
  
  .grid-container *:after {
    content:attr(class);
    position: absolute;
    top: 0;
    left: 0;
  }